.album{
    margin: 1%;
    display: flex;
    flex-direction: column;
    width: 10%;
    position: relative;
    margin-bottom: 1%;
}

.album img{
    width: 100%;
    height: auto;
}

.album-description{
    text-align: center;
}

.btn {
    background-color: rgb(90, 128, 211); 
    border: none; 
    color: white; 
    padding: 5% 7%; 
    font-size: 20px;
    cursor: pointer; 
  }

  .btn:hover {
    background-color: RoyalBlue;
  }

.favorite-button{
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.album-title{
    font-size: 16px;
    margin: 0 0 5px 0;
    font-weight: 700;
}

.album-artist{
    font-size: 12px;
    font-weight: 400;
    color: gray;

}

a {
    text-decoration: none;
    color: black;
}