.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 90%;
}

.navbar h3{
    padding-left: 1%;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 20%;

}

.navbar-links h3{
    margin-right: 1%;
}

.navbar-links a{
    padding: 1%;
    text-decoration: none;
    color: white
}

.navbar-links a:hover{
    text-decoration: underline;
}