.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-links{
    justify-content: space-evenly;
}